<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel Solution System</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="{{ asset('runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('styles.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('main.js') }}"></script>
</body>
</html>
